/* footer CSS start */
footer.footer_part {
/*   	background-color:tra !important; */
  	padding: 25px 0px 15px !important;
  	position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 72px !important;
}
@media (max-width: 576px) {
  .footer_part {
    padding: 25px 0px 15px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer_part {
    padding: 25px 0px 15px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_part {
    padding: 25px 0px 15px !important;
  }
}
.footer_part .copyright_part {
	padding: 0px !important;
	margin-top: 0px !important;
}
.footer_part .copyright_text {
    text-align: center !important;
  }
.footer_part .copyright_text p a {
	color: #ccb78f !important;
}
.footer_part .copyright_text p a:hover {
  color: #ccb78f !important;
}
/* footer CSS end */