/* footer CSS start */
.footer_part {
  	padding: 25px 0px 15px !important;
}
@media (max-width: 576px) {
  .footer_part {
    padding: 25px 0px 15px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer_part {
    padding: 25px 0px 15px !important;
  }
}5
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_part {
    padding: 25px 0px 15px !important;
  }
}
.footer_part .copyright_part {
	padding: 0px !important;
	margin-top: 0px !important;
}
.footer_part .copyright_text {
    text-align: center !important;
  }
.footer_part .copyright_text p a {
	color: #61D2B4 !important;
}
.footer_part .copyright_text p a:hover {
  color: #61D2B4 !important;
}
/* footer CSS end */