

/*navbar CSS*/
.main_menu  {
	position: fixed;
	background-color: white;
/* border: 1px solid red; */
/* height: 70px; */
}
.main_menu .navbar {
    padding: 0px;
/*     height: 70px; */
}
#navbarSupportedContent {
/* 	height: 70px; */
}
.main_menu .main-menu-item ul li .nav-link {
color: #000;
font-size: 20px;
padding: 36px 23px;
font-family: 'Josefin Sans', 'Noto Sans TC';
text-transform: capitalize;
line-height: 12px;
font-weight: 500;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 143, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .main_menu .main-menu-item ul li .nav-link {	
	padding: 36px 18px;
	color: #000;
	font-size: 20px;
	font-family: 'Josefin Sans', 'Noto Sans TC';
	text-transform: capitalize;
	line-height: 12px;
	font-weight: 500;
  }
}

.main_menu .main-menu-item ul li .nav-link:hover {
color: #ccb78f;
}
.main_menu .main-menu-item ul li .nav-link:active {
color: #ccb78f;
}
.navbar-brand img {
height: 60px;
width: auto;
top: -20px;
/* max-height: 60px; */
}
.fa-user-circle::before {
font-size: 20px; 
}
.fa-cart-plus::before {
font-size: 20px;
}
.fa-bell::before {
font-size: 20px;
}
a {
	color: black;
	font-size: 16px;
}
a:hover {
	color: #ccb78f;
}
.dropdown-toggle::after {
    display: none;
}
.main_menu a i {
    color: 	#A9A9A9;
    position: relative;
    z-index: 1;
    font-size: 15px;
    margin: 0px; !important
}
.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: #fff;
}
.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 8px 20px !important;
  color: black !important;
  background-color: #fff;
  text-transform: capitalize;
}
/*ÁÊª«¨®*/
.main_menu .cart i {
    color: 	#A9A9A9;
    position: relative;
    z-index: 1;
    font-size: 15px;
}
.main_menu .cart i:after {
	background-color: #ccb78f;
}