<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

 		<!-- JNDI連線池 (Apache Tomcat 連線池DBCP)設定 -->
<!-- 		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/HowTrueProject</property> -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/HOWTRUE?serverTimezone=Asia/Taipei</property>
		<property name="hibernate.connection.username">David</property>
		<property name="hibernate.connection.password">123456</property>
        
		<!--SQL方言,以下使用Oracle -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<!--是否要顯示實際操作資料庫時的SQL -->
		<property name="hibernate.show_sql">true</property>

        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!--交易管理類型, 以下使用JDBC Transaction -->
		<property name="hibernate.transaction.coordinator_class">jdbc</property>
        
        <!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!--Java物件與資料庫表格的映射檔 -->
		<mapping resource="com/repApp/model/repApp.hbm.xml" />
		<mapping resource="com/repAppDet/model/repAppDet.hbm.xml" />
		<mapping resource="com/repAppPho/model/repAppPho.hbm.xml" />

	</session-factory>
	
</hibernate-configuration>
