<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>CEA103G2111</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/HowTrueProject</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
<!--   ↓濾器↓   -->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/front-end/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
    <filter>
   	  <filter-name>LoginFilterBack</filter-name>
   	  <filter-class>filter.LoginFilterBack</filter-class>
  	</filter>
  	<filter-mapping>
    <filter-name>LoginFilterBack</filter-name>
    <url-pattern>/back-end/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
 <!--   ↑濾器↑   -->

<!--   ↓蔡佳↓   -->  
  <servlet>
    <servlet-name>MemTenServlet</servlet-name>
    <servlet-class>com.memTen.controller.MemTenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemTenServlet</servlet-name>
    <url-pattern>/memTen/memTen.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemPicReadServlet</servlet-name>
    <servlet-class>com.memTen.controller.MemPicReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemPicReadServlet</servlet-name>
    <url-pattern>/memTen/memPicReadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>com.bill.controller.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/bill/bill.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LanlordServlet</servlet-name>
    <servlet-class>com.lanlord.controller.LanlordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanlordServlet</servlet-name>
    <url-pattern>/lanlord/lanlord.do</url-pattern>
  </servlet-mapping>

<!--   ↑蔡佳↑   -->
  
<!--   ↓智鈞↓   -->
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.post.controller.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/post/post.do</url-pattern>
  </servlet-mapping>
<!--   ↑智鈞↑   -->
  
<!--   ↓東緯↓   -->
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.employee.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee/employee.do</url-pattern>
  </servlet-mapping>
<!--   ↑東緯↑   -->




<!--   ↓怡蓁↓   -->

    <servlet>
    <servlet-name>FurCatServlet</servlet-name>
    <servlet-class>com.furCat.controller.FurCatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FurCatServlet</servlet-name>
    <url-pattern>/furCat/furCat.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FurIteServlet</servlet-name>
    <servlet-class>com.furIte.controller.FurIteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FurIteServlet</servlet-name>
    <url-pattern>/furIte/furIte.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>FurIteCartServlet</servlet-name>
    <servlet-class>com.furIte.controller.FurIteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FurIteCartServlet</servlet-name>
    <url-pattern>/furIte/furIteCart.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>FurLisServlet</servlet-name>
    <servlet-class>com.furLis.controller.FurLisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FurLisServlet</servlet-name>
    <url-pattern>/furLis/furLis.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>FurPhoShowServlet</servlet-name>
    <servlet-class>com.furPho.controller.FurPhoShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FurPhoShowServlet</servlet-name>
    <url-pattern>/furPho/furPhoShow.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FurPhoServlet</servlet-name>
    <servlet-class>com.furPho.controller.FurPhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FurPhoServlet</servlet-name>
    <url-pattern>/furPho/furPho.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>RenFurAppServlet</servlet-name>
    <servlet-class>com.renFurApp.controller.RenFurAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenFurAppServlet</servlet-name>
    <url-pattern>/renFurApp/renFurApp.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>RenFurDetServlet</servlet-name>
    <servlet-class>com.renFurDet.controller.RenFurDetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenFurDetServlet</servlet-name>
    <url-pattern>/renFurDet/renFurDet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>FurColServlet</servlet-name>
    <servlet-class>com.furCol.controller.FurColServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FurColServlet</servlet-name>
    <url-pattern>/furCol/furCol.do</url-pattern>
  </servlet-mapping>
    
  
<!--   ↑怡蓁↑   -->

<!--   ↓敬達↓   -->
	<servlet>
		<servlet-name>houPho</servlet-name>
		<servlet-class>com.houPho.controller.HouPhoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>houPho</servlet-name>
		<url-pattern>/houPho/houPho.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>houPhoImg</servlet-name>
		<servlet-class>com.houPho.controller.HouPhoImgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>houPhoImg</servlet-name>
		<url-pattern>/houPhoImg/houPhoImg.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>house</servlet-name>
		<servlet-class>com.house.controller.HouseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>house</servlet-name>
		<url-pattern>/house/house.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>houseImg</servlet-name>
		<servlet-class>com.house.controller.HouseImgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>houseImg</servlet-name>
		<url-pattern>/house/houseImg.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>houseAdm</servlet-name>
		<servlet-class>com.house.controller.HouseAdmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>houseAdm</servlet-name>
		<url-pattern>/house/houseAdm.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>rooVieApp</servlet-name>
		<servlet-class>com.rooVieApp.controller.RooVieAppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rooVieApp</servlet-name>
		<url-pattern>/rooVieApp/rooVieApp.do</url-pattern>
	</servlet-mapping>
<!--   ↑敬達↑   -->

  
</web-app>